* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .7s ease;
}

@font-face {
    font-family: 'Bebus-Bold';
    src: url('./Fonts/BebasNeue\ Bold.otf');
}

@font-face {
    font-family: 'Arial-Round';
    src: url('./Fonts/Arial\ Rounded\ MT\ Bold\ Regular.ttf');
}

@font-face {
    font-family: 'Calibiri-Bold';
    src: url('./Fonts/Calibri\ Bold.ttf');
}

@font-face {
    font-family: 'Calibiri-Regular';
    src: url('./Fonts/Calibri\ Regular.ttf');
}

@font-face {
    font-family: 'Vardana-Bold';
    src: url('./Fonts/Verdana\ Bold.ttf');
}

::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 1rem;
}


.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background: url('images/img1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#inputsearch::placeholder {
    font-family: 'Calibiri-Regular', sans-serif;
    font-weight: 900;
    color: #000;
}

.gradient {
    background: linear-gradient(to right, #000, #000000ee 80%, #4d4c4c11);
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.logoonslide {
    position: absolute;
    top: 25%;
    left: 4%;
}

.logoonslide img {
    width: 30%;
    margin-bottom: 15px;

}

.logoonslide p {
    color: white;
    text-align: center;
    width: 25%;
    margin-top: 42px;
    margin-left: 12px;
    color: white;
    font-size: 24px;
    font-family: 'Vardana-Bold', Verdana, Geneva, Tahoma, sans-serif;

}

#delivery {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Calibiri-Bold';
    padding: 8px 3px !important;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

#delivery img {
    width: 10%;
}

.ordernow p {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Arial-Round';
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}

.addtocard {
    position: absolute;
    right: 10%;
    top: 70%;
}

.cont {
    padding: 100px 0;
}

.card-img-top {
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.back1 {
    width: 100%;
    position: absolute;
    top: 38%;

}

.back1 img {
    width: 100%;

}

.back2 {
    width: 100%;
    position: absolute;
    top: 24%;
    opacity: .3;
    left: 0%;
}

.back2 img {
    width: 100%;

}

.head {
    padding: 20px 64px;
    font-size: 23px;
    width: 100%;
    text-align: center;
}

.tex {
    font-size: 15px;
}

/* media */

.card {
    margin: 90px
}

.slogan {
    text-align: center;
    position: relative;
}

.titli {
    -webkit-text-stroke: 4px black;
    background: transparent;
    color: white;
    font-size: 177px;
    font-family: 'Bebus-Bold', sans-serif;

}

.ti {

    background: transparent;
    z-index: 0;
    color: grey;
    font-size: 118px;
    font-family: 'Bebus-Bold', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -78%);

}


.footerpath {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 20px 20px;
}

.footerpath-D {
    display: none;

}

.footer-img-box img {
    /* margin: 20px 20px; */
    width: 50%;
    padding-top: 12px;
}

#list1 {
    display: flex;
    flex-direction: column;

}

#list1 a {
    margin: 10px 0px 0px 47px;
    text-decoration: none;
    color: white;
    font-family: 'Calibiri-Regular';
}

#list2 {
    display: flex;
    flex-direction: column;

}

#list2 a {
    margin: 10px 0px 0px 47px;
    text-decoration: none;
    color: white;
    font-family: 'Calibiri-Regular';

}

.footer-col {
    width: 25%;
}

#Copyright {
    padding-top: 25px;
    font-family: 'Calibiri-Regular';

}

.contact h4 {
    margin-top: 8px;
    text-align: center;
    font-family: 'Calibiri-Regular';
    font-weight: 900;
    text-transform: capitalize;
}

.socialmedia {
    padding-top: 12px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.socialmedia img {
    width: 10%;
    margin: 5px 25px;
}

@media (max-width:1400px) {
    .card {
        margin: 40px;
    }
}

@media (max-width:1250px) {


    .tex {
        font-size: 16px;
    }

}

@media (max-width:1200px) {
    .card {
        margin: 35px;
        width: 25rem !important;
    }

    .titli {
        font-size: 160px;

    }

}

@media (max-width:1150px) {
    .navbar-brand {
        width: 30%;

    }
}

@media (max-width:1000px) {
    .flx {
        flex-direction: column;
    }

    .lo {
        padding: 0 !important;
    }

    .form-control {
        margin: 0 !important;
        width: 50%;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between !important;
        width: 12% !important;
    }

    .nav-item {
        width: 30% !important;
    }

    .navbar-brand {
        width: 7% !important;
    }

    .card {
        width: 55rem !important;
    }

    .logoonslide {
        text-align: center;
        top: 16%;

    }

    .logoonslide p {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .logoonslide img {
        width: 35%;
    }

    .addtocard {
        right: 39%;
        top: 52%;


    }

    .logoonslide {
        left: 0;
    }

    .gradient {
        width: 100%;
        height: 100%;
        background: black;
        opacity: .7;
    }

    .titli {
        font-size: 110px;
    }

    .ti {
        font-size: 80px;
    }
}

@media (max-width:950px) {
    .card {
        width: 40rem !important;
    }
}

@media (max-width: 876px) {

    .socialmedia img {
        width: 12%;
        margin: 0px 11px;
    }
}

@media (max-width:900px) {
    .addtocard {
        right: 37%;
        top: 50%;
    }
}

@media (max-width:800px) {
    .addtocard {
        right: 36%;
        top: 46%;
    }

    .card {
        width: 30rem !important;
    }

    .titli {
        font-size: 80px;
    }

    .ti {
        font-size: 58px;
    }
}

@media (max-width:700px) {
    .nav-item {
        width: 40% !important;
    }

    .navbar-nav {
        width: 20% !important;
    }
    .addtocard {
        right: 35%;
        top: 43%;
    }

}

@media (max-width:650px) {
    .addtocard {
        right: 33%;
        top: 41%;
    }

    .navbar-brand {
        width: 10% !important;
    }

  
}

@media (max-width:600px) {
    .footer-col {
        width: 33%;
        margin: 20px 0px;
    }

    .addtocard {
        right: 32%;
        top: 39%;
    }

    #Copyright {
        text-align: center;
        width: 100%;
        padding-top: 25px;
        font-family: 'Calibiri-Regular';
    }

    .contact h4 {
        font-size: 1.5rem;
    }

    .socialmedia img {
        width: 21%;
        margin: 0px 8px;
    }

}

@media (max-width:550px) {
    .ordernow p {
        font-size: 28px;
    }

    #delivery p {
        font-size: 15px;
    }
    .addtocard {
        right: 32%;
        top: 39%;
    }


    .card {
        width: 27rem !important;
    }

    .back1 {
        width: 100%;
        position: absolute;
        top: 45%;
        left: 0;
    }

    .back2 {
        width: 100%;
        position: absolute;
        top: 34%;
    }

    .titli {
        font-size: 66px;
    }

    .ti {
        font-size: 48px;
    }
}

@media (max-width:500px) {
    .card {
        width: 24rem !important;
    }

    .back1 {
        width: 100%;
        position: absolute;
        top: 52%;
        left: 0;
    }

    .back2 {
        width: 100%;
        position: absolute;
        top: 44%;
    }

    .addtocard {
        right: 30%;
        top: 36%;
    }

    .footer-col {
        width: 50%;
        margin: 20px 0px;
    }

    .footerpath {
        display: none;

    }

    .footerpath-D {

        display: block;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        background-color: black;
        padding: 20px 20px;

    }

    .socialmedia img {
        width: 14%;
        margin: 0px 8px;
    }

    .contact h4 {
        margin: 10px 0px;
        font-size: 1.2rem;
    }

    .socialmedia {
        padding-top: 3px;

    }
}

@media (max-width:450px) {
    .nav-item {
        width: 30% !important;
    }

    .form-control {
        width: 100%;
    }

    .navbar-brand {
        width: 15% !important;
    }

    .addtocard {
        right: 27%;
        top: 41%;
    }
    .logoonslide p {
        font-size: 30px;
    }

    .card {
        width: 24rem !important;
    }
}

@media (max-width:400px) {
    .card {
        width: 18rem !important;
    }

    .head {
        font-size: 19px;
    }

    .card-text {
        font-size: 12px;
    }

    .addtocard {
        right: 23%;
        top: 43%;
    }

    .back2 {
        width: 100%;
        position: absolute;
        top: 54%;
    }

    .back1 {
        width: 100%;
        position: absolute;
        top: 61%;
    }

    .titli {
        font-size: 46px;
    }

    .ti {
        font-size: 35px;
    }

}

@media (max-width:350px) {
    .navbar-brand {
        width: 20% !important;
    }

    .addtocard {
        right: 14%;
        top: 42%;
    }

    .card {
        width: 16rem !important;
    }

    .titli {
        font-size: 48px;
    }

    .ti {
        font-size: 35px;
    }
}

@media (max-width:300px) {
    .addtocard {
        right: 10%;
        top: 42%;
    }
}